.con{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    border-radius: 20px;
    width: 300px;
    height: 400px;
    border: 2px solid black;
    text-align: center;
    background-color: rgb(0, 0, 0);
}
.btn{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
  background-color:white ;
  color: black;
    margin-right: 10px;
    transition: .2s;
    font-size: 1.3rem;
}
#display
{ font-weight: 600;
    border-radius: 70px;
    outline: none;
    padding-left: 10px;
    font-size: 1.4rem;
    border: 2px solid black;
margin-top: 10px;
width: 260px;
height: 50px;

}
.btn:hover{
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px 0px rgb(243, 243, 243);
}
.btn2{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    outline: none;
    border: 2px solid rgb(255, 234, 0);
  background-color:rgb(255, 208, 0) ;
  color: black;
    margin-right: 10px;
    transition: .2s;
    font-size: 1.3rem;
}
.btn2:hover{
    border: 2px solid rgb(255, 225, 0);
    box-shadow: 0 0 10px 0px rgb(255, 251, 0);
}
#dis{
    background-color: black;
    color: yellow;
    border: 2px solid rgb(255, 238, 0);
}
#dis:hover{
   box-shadow: 0 0 10px yellow;
}

}
.btn:hover{
    border: 2px solid black;
    box-shadow: 0 0 10px 0px rgb(0, 0, 0);
}
